@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?dutp6');
	src:url('fonts/icomoon.eot?#iefixdutp6') format('embedded-opentype'),
		url('fonts/icomoon.woff?dutp6') format('woff'),
		url('fonts/icomoon.ttf?dutp6') format('truetype'),
		url('fonts/icomoon.svg?dutp6#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
/*tab*/
main{top:1em;
position: relative;
left:1em;}
main img{width: 90px;
float:left;
margin-right: 0.5em;
margin-left:0.5em;
border-radius: 5px;
position: relative;
top:14px;}
main p {
  font-size: 13px;
  margin-right:1.5em;
  


}

input, section {
  clear: both;
  padding-top: 10px;
  display: none;
  
}
#ladito strong{border-top: 3px solid #96231c;

text-align: center; 
padding: 0.5em 1em;
float:left;
margin-bottom: 1em;
margin-left: 1.3em;
font-size: 12px;
border-right: 1px solid transparent;
  border-left: 1px solid transparent;
border-right-color: #DDD;
  border-left-color: #DDD;
width: 280px;}
  #laditofb strong{border-top: 3px solid #771993;

text-align: center; 
padding: 0.5em 1em;
float:left;
margin-bottom: 1em;
margin-left: 1.3em;
font-size: 12px;
border-right: 1px solid transparent;
  border-left: 1px solid transparent;
border-right-color: #DDD;
width: 280px;
  border-left-color: #DDD;}
input + label{color:#3a3a3a;
margin: 0;

}

#posttw {position: relative;
left:25px;

}
label {
  font-weight: bold;
  font-size: 14px;
  display: block;
  float: left;
  padding: 10px 35px;
  border-top: 3px solid transparent;
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
  border-bottom: 1px solid #DDD;


}
label:hover {
  cursor: pointer;
  text-decoration: underline;
}
#tab1:checked ~ #content1, #tab2:checked ~ #content2, #tab3:checked ~ #content3, #tab4:checked ~ #content4 {
  display: block;
  
}

#tab1:checked + label {
  border-top-color: #547c00;;
  border-right-color: #DDD;
  border-left-color: #DDD;
  border-bottom-color: transparent;
  text-decoration: none;
  color:#414142

}
#tab2:checked + label {
  border-top-color:#006399;
  border-right-color: #DDD;
  border-left-color: #DDD;
  border-bottom-color: transparent;
  text-decoration: none;
  color:#414142

}


.search{
	border: none;
	width: 140px;
	top: 0px;
	height: 25px;
	right: 35px;
	margin: 0.2em;
	outline: none;
	line-height: 26px;
	padding: 7px 8px;
	background:rgba(0,0,0,0.6);
	border-radius: 0.3em 0 0 0.3em;
	box-shadow:inset 1px 1px 20px rgba(0, 0, 0,0.7 );
color:#e4e4e4;
position: absolute;
}



#busqueda {position:relative;

	width: 100%;
	height: 46px;
	top:64px;
background:  #eeeeee;
	box-shadow: 23px 10px 40px rgba(0, 0, 0,0.7 );
left: 85%;
	border-radius: 0 0 0.3em 0.3em;
	box-shadow:inset 1px 1px 20px rgba(0, 0, 0,0.4 );

}
#bus{
	color:#d8d8d8;
	left:0;
	position:absolute;
	font-size: 0.7em;
	top:-5px;


		margin-left: 1em;
		line-height: 46px;
		padding-right: 200px;
}
#close{float:right;
margin-right: 0.5em;
line-height: 39px;
background: rgba(0,0,0,0.5);
height: 39px;
width: 30px;
padding: 0;
font-size: 0.8em;
position:relative;
top:5px;
border-radius: 0 0.3em 0.3em 0;
}
.box
{





/*transition-property:all;
transition-duration:0.5s;
transition-timing-function:ease;*/
transition:all 0.5s ease-out;
}

.box:active
{
transform:rotatey(180deg);
-ms-transform:rotatey(180deg); /* IE 9 */
-webkit-transform:rotatey(180deg); /* Safari and Chrome */

/*width: 200px;
height: 200px;*/

}

header{
	display: inline-block;
    background: rgba(0,0,0,0.8);
	border-bottom: solid 0.4em #d8d8d8;
	box-shadow: 23px 10px 40px rgba(0, 0, 0,0.7 );

	height: 70px;
	font-size: 1.5em;
	position: fixed;
	z-index: 300;
	width: 100%;
left: 0;
top:0;	

}
header h1{
	float: left;
	line-height: 70px;
	margin:0 0 0 0;
	width:250px;

	font-family: 'Audiowide', cursive;
	font-size: 1.2em;
	text-shadow:inset 2px 2px white;
}
header h1:after{
	content:"\e600";
	font-family:"icomoon";
	color:white;
	font-size: 0.90em;
float:right;
margin-right: 1em;}

#fb:after{
	content:"\e604";
	font-family:"icomoon";

	color:white;
	font-family: 2em;
}
#tw:after{
	content:"\e603";
	font-family:"icomoon";
	color:white;
	font-family: 2em;
}
#g:after{
	content:"\e605";
	font-family:"icomoon";
	color:white;
	font-family: 2em;
}
header p{
	font-family: 'Duru Sans', sans-serif;
	color:#e9e9e9;
	line-height:80%;
	font-size: 0.8em;
}
h3{margin:1em 0 0 0;
position:relative;
color: rgba(250, 250, 250, 0.9);
left:-17px;
font-family: 'Duru Sans', sans-serif;
width: 150px;
height:30px;
line-height: 30px;
padding-left:1em;

background: -moz-linear-gradient(left,  rgba(0,0,0,1) 0%, rgba(125,185,232,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,1)), color-stop(100%,rgba(125,185,232,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(125,185,232,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(125,185,232,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(125,185,232,0) 100%); /* IE10+ */
background: linear-gradient(to right,  rgba(0,0,0,1) 0%,rgba(125,185,232,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#007db9e8',GradientType=1 ); /* IE6-9 */
}

#panel{background: white;
	border-radius: 0 0 1em 1em;
	padding: 0;
}



#panel a{

text-decoration: none;
color:gray;


font-size: 0.7em;
margin:1em 0 1em 2.5em;
text-align: left;
}

footer{background:rgba(0,0,0,0.8);
width:100%;
margin: 0 auto;
height: 30px;
position: relative;
top:46px;
border-radius: 0 0 1em 1em;
box-shadow:inset 1px 1px 20px rgba(0, 0, 0,0.7 );
font-size:1em;
}
footer a{margin: 0 0.7em;
position:relative;

line-height: 30px;

text-decoration: none;
transition: all 0.2s ease-in;}
footer a:hover{text-shadow: 0px 0px 20px rgba(100, 161, 184,0.7 );

}

#panel{
background: rgba(250,250,250,0.9);
position: fixed;
padding:0px;
display:none;
width: 100%;
top:79px;
color: gray;
margin: 0;
box-shadow: 23px 10px 40px rgba(0, 0, 0,0.3 );
font-family: 'Duru Sans', sans-serif;
z-index: 500;

}

#wrap{
	margin: 0;
	/*box-shadow: inset 0 5px 50px rgba(0,0,0,0.15), inset 5px 0 50px rgba(0,0,0,0.15), inset -5px 0 50px rgba(0,0,0,0.15);*/

	}








#tag:hover{

text-shadow: 0px 0px 20px rgba(250,250,250,0.8);
}
.post{

	background:white;

	border-radius: 0 0 0.7em 0.7em;
	max-width: 320px;
	height: 370px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0,0.7 );
margin: 2em auto; 
z-index: 200;
position: relative;
}



#resultado{max-width: 99%;
margin: 0 auto;}

div #bar{background: rgba(0, 0, 0, 0.1);
	width: 100%; 
	height: 30px;
border-radius: 0 0 0.7em 0.7em;
position: absolute;
left:0px;
bottom:0px;
/*border-top: rgba(0, 0, 0, 0.2) solid 1px;*/
z-index:100;}
div .texto{
display: none;
text-align:left;
}
div .boton{
	box-shadow:0px 3px 7px rgba(0, 0, 0,0.7 );
	font-size: 0.8em;
position: relative;
top:-10px;
background:#a5a5a5;
color:gray;
width:80px;
border-radius: 1em; 
margin:0 0 2em 0;
padding: 0.2em;
transition: all 0.5s ease-in;}
div .boton:hover{
background: gray}
div figure{
margin:0;
background: rgba(0,0,0,0.8);
z-index: 3000;
overflow: hidden;
max-height: 200px;
 }


div figure img{z-index: 2000;
	width: 100%;
	 transition: all 1s ease-out;

}
div figure img:hover {width: 120%;

filter: grayscale(100%);
/*Asignamos los Prefijos de los Navegadores específicos*/
-webkit-filter: grayscale(100%);
-moz-filter: grayscale(100%);
-o-filter: grayscale(100%);
-ms-filter: grayscale(100%);

}

#catmov
{

width: 100%; 


}

#titulocat{margin:0;
font-size: 1.2em;
font-style: bold;
text-shadow: 0px 2px 3px #555;
}

#catmov a{
	border-radius: 4em;
	display: inline-block;
	margin:0.5em;
	text-decoration: none;
	background:rgba(0, 0, 0, 0.1);
	color:white;
	position:relative;
	line-height: 50px;
	width: 50px;
	height: 50px;
	font-size: 1.5em;

	box-shadow:0px 10px 20px rgba(0, 0, 0,0.7 );


}

aside .box {
	border-radius: 4em;
	display: inline-block;
	margin:0.5em;
	text-decoration: none;
	background:rgba(0, 0, 0, 0.1);
	color:white;
	position:relative;
	line-height: 50px;
	width: 50px;
	height: 50px;
	font-size: 1.5em;

	box-shadow:0px 10px 20px rgba(0, 0, 0,0.7 );


}

#cajita{
	display:inline-block;
    margin:1em auto;
	width: 100%;

	}
	h4{padding: 0 1em;}
/*videos*/
#vid .boton a, #vid h4 a{
	text-decoration: none;
}
#vid 
{
border-top:5px solid #006399;

}
#vid h4 a
{
color:rgba(0, 0, 0, 0.65);
}
#vid h4
{
color:#006399;
}
#vid .boton a
{
color:white;
}
#vid h4 :hover
{
transition: all 0.5s ease-in;
color:#006399;
}
#vid h4:before
{
content:"\e607""  ";
font-family:"icomoon";
font-weight:normal
}
#bus:before
{
content:"\e617""  ";
font-family:"icomoon";
}
#Webi:after
{
content:"\e618";
font-family:"icomoon";
font-size: 1em;
}
/*recomended*/
#red .boton a, #red h4 a{
	text-decoration: none;
}
#red 
{
border-top:5px solid #547c00;
}
#red h4 a
{
color:rgba(0, 0, 0, 0.65);
}
#red h4
{
color:#547c00;
}
#red .boton a
{
color:white;
}
#red h4 :hover
{
transition: all 0.5s ease-in;
color:#547c00;
}
#red h4:before
{
content:"\e601""  ";
font-family:"icomoon";
font-weight:normal
}
/*trendings*/
#tre .boton a, #tre h4 a{
	text-decoration: none;
}
#tre 
{
border-top:5px solid #96231c;
}
#tre h4 a
{
color:rgba(0, 0, 0, 0.65);
}
#tre h4
{
color:#96231c;
}
#tre .boton a
{
color:white;
}
#tre h4 :hover
{
transition: all 0.5s ease-in;
color:#96231c;
}
#tre h4:before
{
content:"\e611""  ";
font-family:"icomoon";
font-weight:normal
}

#vvideos:before{
	content:"\e601";
	font-family:"icomoon";
	color:#547c00;
	border: #547c00 solid 1px;
	border-radius: 5em;
	padding: 0.2em;


	}

#vnews:before{
	content:"\e607 ";
	font-family:"icomoon"; 
	color:#006399;
	border: #006399 solid 1px;
	border-radius: 5em;
	padding: 0.2em;}

#tnews:before{
	content:"\e611 ";
	font-family:"icomoon";
	color:#96231c; 
	border: #96231c solid 1px;
	border-radius: 5em;
	padding: 0.2em;
	}


#catmov #vvideos:before, aside #vvideos:before{

	border: none;



	}

#catmov #vnews:before, aside  #vnews:before{

	border: none;
	}

#catmov #tnews:before, aside  #tnews:before{

	border: none;

	}

#calendar{;
	color:gray;
	position: absolute;
right:10px;
top:10px;
font-family: arial;



}
#name{;
	color:gray;
	position: absolute;
left:35px;
top:10px;



}
#calendar:before{
	content:"\e606 "" ";
	font-family:"icomoon";
	font-size:0.8em;
	line-height: 100%; 



	}


#logito{
position: absolute;
bottom:3px;	
width: 15px;
left:15px;
}



body #wrap{
	background: #e9e9e9;
	max-width: 100%;
	height: auto;


	padding: 1em;

}aside{
position: relative;
top:-0px;
display:none;
padding-bottom: 1em;
}
aside h2{
	position:relative;
font-family: "Graduate";
color:rgba(0,0,0,0.7);
		font-style: bold;
		margin: 1em 0;
text-shadow: 0px 2px 3px #555;

top:40px;
}


#logito2{width: 20px;
	bottom: 0;
position: relative;
bottom:-4px;
}
#flip{
	cursor:pointer;
	color:#64a1b8;
	transition: all 0.5s ease-out;
}
#flip:hover{text-shadow: 0px 0px 30px rgba(250,250,250,0.7 );}


/* Botón Ir Arriba
----------------------------------------------- */
#IrArriba {
position: fixed;
bottom: 30px; /* Distancia desde abajo */
right: 10px; /* Distancia desde la derecha */
z-index: 2000;
}

#IrArriba span {
width: 64px; /* Ancho del botón */
height: 64px; /* Alto del botón */
display: block;
background: url("img/arriba.png") no-repeat center center;
z-index: 2000}


body{-webkit-animation: fadein 2s; /* Safari and Chrome */
       -moz-animation: fadein 2s; /* Firefox */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera */
            animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari and Chrome */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}​

/* Opera */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }}

   
    	
    	iframe{
    	width: 92%;
    	position: relative;
    
    	margin:0 ;
    	border-top:5px solid gray;
    	

    	}

    	
/*MEDIA QUERY*/
@media only screen and (min-width : 320px) {}
@media only screen and (min-width : 769px) {
	#trans {
	width: 10px; 
	height: 100%;
background: -webkit-linear-gradient(left, transparent , rgba(0,0,0,0.3)); /* For Safari 5.1 to 6.0 */
background: -o-linear-gradient(right, transparent, rgba(0,0,0,0.3)); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(right, transparent, rgba(0,0,0,0.3)); /* For Firefox 3.6 to 15 */
background: linear-gradient(to right, transparent , rgba(0,0,0,0.3)); /* Standard syntax (must be last) */
position: absolute;
right:0px;
bottom:0px;

z-index:100;}
	#resultado{max-width:800px;
}
	body #wrap{

	margin:0 0 0 25px;



}
#searchForm{


top:-15px;
}
body header #cuadrito {
	width: 0;
    height: 0;
    border-left: 25px solid transparent;  /* left arrow slant */
    border-right: 0px solid transparent; /* right arrow slant */
    border-top: 15px solid rgba(0,0,0,0.8); /* bottom, add background color here */
    font-size: 0;
    line-height: 0;
    position: relative;
    top:79px;
    margin: 0;

    
}

#logito2{width: 25px;
	bottom: 0;
	position: relative;
bottom:-4px;
}
.search{

	width: 180px;


}
header h1{
	margin:0 0 0 0.8em;
	width:300px;
	font-size: 1.5em;

}
#titulocat{
font-size: 1.5em;

}


	#red,#vid,#tre{max-width:1000px;
		height: 230px;


	}#catmov a{

	line-height: 100px;
	width: 100px;
	height: 100px;
	font-size: 3em;




}

div figure{
margin:0;
position: relative;
height: 250px;
width:300px;
float:left;




}

 figure img{z-index: 2000;
	width: 100%;
	 transition: all 1s ease-out;


}
div .texto{
padding: 1em;
position: relative;
left:10px;
top:-10px;}
div .boton{position:relative;
left:160px;
top:20px;
}

   
}
@media screen and (min-width:900px){
	div .boton{top:-20px;}
	div .texto{display: block;}
}
@media screen and (min-width: 1200px){


#lado{}
	aside
	{position: relative;
		display: block;
		float: right;
		right:-15px;
		bottom: 0px;
		margin:4.2em 1em;
		width: 340px;
box-shadow: 0px 0px 10px rgba(0, 0, 0,0.3 );
background:rgba(250,250,250,0.5);
border-radius: 0.7em;
	}
	aside a 
	{
		text-decoration: none;
		color:#3a3a3a;

		
	}
	aside a:hover
	{
		
		color:gray;
		
		
	}
	
	aside a:hover img
	{
		opacity: 0.7;
		
		
	}


	aside h1{
		color:rgba(0,0,0,0.7);
		font-style: bold;
		margin: 1em 0;
text-shadow: 0px 2px 3px #555;}


#catmov{display: none;}

.post{margin:1em;
width: 70%;}
}